body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url(download.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  header {
    background-color: #ccc4c4;
    padding: 20px;
    color: rgb(25, 26, 26);
  }
  
  h1 {
    font-size: 2em;
    margin-bottom: 10px;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    color: rgb(25, 26, 26);
    font-weight: 900;
  }
  
  nav li {
    display: inline-block;
    margin-right: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: #333;
  }
  .banner {
    text-align: center;
    padding: 50px 0;
    background-image: url("images/background.jpg");
    background-size: cover;
    background-position: center;
    color: #fff;
  }
  
  .banner h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
  }
  
  .banner p {
    font-size: 1em;
    margin-bottom: 20px;
  }
  
  .banner button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  .featured-products {
    padding: 20px;
  }
  
  .featured-products h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .featured-products ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    
  }
  section{
    display: flex;
    flex-direction: row;
  }
  .colunas{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  #img{
    height: 200px;
  }
  #img{
    height: 200px;
  }
  #img{
    height: 200px;
  }
  #img1{
    width: 10000%;
    height: 600px;
  }
  .produtos{
    display: flex;
    flex-direction: column;
    margin: 2%;

  }
  .card{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
  }
  .home_black_version{
    background-color: black;
  }
  header{
    display: flex;
    justify-content: space-around;
  }
  #logo{
    height:200px;
  }
  .header_black .header_top{
    border-bottom: 1px solid #2d2d2d;
  }
  .header_black .social_icone ul li a{
    background-color:black;
    color:aliceblue;
  }
li{
  list-style: none;
}